---
layout: default
title: Projects - Han Le
---
<div class="page-container gap-1">
  {% include breadcrumbs.html %}
  <p class="title-text-color text-xl">Projects</p>
  <div class="items">
    {% for post in site.categories.projects %}
    <a class="item" href="{{ post.url | relative_url }}">
      <div class="post-container secondary-text-color">
        <p class="title-text-color text-lg font-semibold">{{post.title}}</p>
        {{ post.content | truncate: 120}}
      </div>
    </a>
    {% endfor %}
  </div>
</div>
