@font-face {
  font-family: 'Meslo LG';
  src: url('{{ "/assets/fonts/meslolg/MesloLGL-Regular.ttf" | relative_url }}') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Meslo LG';
  src: url('{{ "/assets/fonts/meslolg/MesloLGL-Bold.ttf" | relative_url }}') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Halo';
  src: url('{{ "/assets/fonts/halo/Halo.ttf" | relative_url }}') format('ttf');
  font-weight: normal;
  font-style: normal;
}
