html {
  position:relative;
  min-height:100%
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin:0;
  font-family: 'Meslo LG', sans-serif;
}

a {color:inherit;
text-decoration: none;}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding-block: 0.5rem;
  padding-inline:2.5rem;
  align-items:center}

.img-container {
  display:flex;
  width: fit-content;
  height: fit-content;
}

.link-group {
  display:flex;
gap:25px;
}

@media (prefers-color-scheme: dark) {

  .nav {
    border-bottom-color: oklch(0.967 0.003 264.542);
    background-color:black;
  }

  .link-group {
  color: white
  }

  .icon {
    -webkit-filter: invert(100%);
          filter: invert(100%);
  }
}

@media (prefers-color-scheme: light) {
  .nav {
    border-bottom-color: oklch(0.967 0.003 264.542)
  }

  .link-group {
  color:black
  }
}
